<div class="row" id="actor-display">
  <% @actors.each do |actor| %>
    <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
      <figure class="col-md-3 col-sm-6 col-xs-12">
        <a href="<%=actor_path(actor)%>"><img class="pictureframe" src="http://image.tmdb.org/t/p/original<%= actor.picture %>" alt="<%= actor.name %>" /><% actor_path(actor) %></a>
        <figcaption><%= actor.name %></figcaption>
      </figure>
    </div>
  <% end %>
</div>
