<div id="polaroid">
  <% @actors.each do |actor| %>
      <figure class="actorpic">
        
      <a><img src="http://image.tmdb.org/t/p/original<%= actor.picture %>" width="200" height="200" alt="Rainbow near Keswick" /><% actor_path(actor) %></a>
      <figcaption><%= actor.name %></figcaption>

 <!--        <p>what you have to ask yourself is, do i feel lucky. well do ya' punk?</p> -->
      </figure>
  <% end %>
</div>



<script type="text/javascript">

$(document).ready(function(){
    $("#filter").keyup(function(){
 
        // Retrieve the input field text and reset the count to zero
        var filter = $(this).val(), count = 0;
 
        // Loop through the comment list
        $(".commentlist li").each(function(){
 
            // If the list item does not contain the text phrase fade it out
            if ($(this).text().search(new RegExp(filter, "i")) < 0) {
                $(this).fadeOut();
 
            // Show the list item if the phrase matches and increase the count by 1
            } else {
                $(this).show();
            }
        });
    });
});
</script>