
<div><%= render 'nav' %></div>

<div id="actors">
  
  <%= render 'actor' %>

</div>

<div class="pagination"> 
  <%= will_paginate @actors_pagination %>
</div>
<script type="text/javascript">
$('img').insetBorder({
  inset : 10,
  borderColor : '#ffffff',
  speed : 250,
  borderType : 'solid'
});
</script>