<script>



// var actor = {
//  actor: {
//    name: "Brad Pitt",
//    movies:[
//    {
//    title: "Twelve Monkeys",
//    revenue: 168840000
//    }, 

//    {
//    title: "Snatch",
//    revenue: 83557872
//    },

//    {
//    title: "Ocean's Twelve",
//    revenue: 363531634
//    },

//    {
//    title: "Meet Joe Black",
//    revenue: 142940100
//    },
//    {
//    title: "Ocean's Thirteen",
//    revenue: 311312624

//    }

//      ]
//      }
//    }
// $(document).ready(function() {

  // response = JSON.parse(File.read('db/brad_pitt.json'))
d3.json("http://localhost:3000/actors/<%= @actor.id %>.json", function(error, json) {

  if (error) return console.warn(error);
  actor = json;

var data = [];
for(var i=0; i<actor.actor.movies.length; i++){
data.push(actor.actor.movies[i].total_revenue);
}
var x = d3.scale.linear()
  .domain([0, d3.max(data)])
  .range([100, 800]);
d3.select(".chart")
  .selectAll("div")
    .data( actor.actor.movies)
  .enter().append("div")
    .style("width", function(d) { return x(d.total_revenue) + "px"; })
    .text(function(d) { return d.total_revenue + "\n" + d.title; });
    // .text(function(d) { return d.title; });
});
</script>

<h2 class="actornameshow"><%= @actor.name %></h2>


<div class="chart"></div>





