<h2 class="actornameshow"><%= @actor.name %></h2>


<div id="bubblechart"></div>

<script type="text/javascript">
var mySquare=svg.append("rect")
  .attr("x",60)
  .attr("y",60)
  .attr("width",60)
  .attr("height",60);
  </script>