/*// Place all the styles related to the Actors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

#searchbar {
  right: 45%;
  width: 250px;
  margin: 0 auto;
}

.thumbnail {
  text-align: center;
  float:left;
  width: 300px;
}

.actormain {
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}

.actorpic {
  width: 200px; 
  height: 200px;
}

.showIMG {
  border: 6px solid white;
  border-radius: 10px;
  margin-left: 850px;
  position: absolute;
  z-index: 1;
}
.actornameshow {
  height: 250px;
  padding-top: 100px;
  color: white;
  font-family: 'Fascinate Inline', cursive;
  text-align: center;
  font-size: 77px;
}

.chart_header {
  text-align: center;
  font-family: Helvetica;
  font-weight: bold;
  color: #BF4235;
}
/*D3 CSS*/
.chart { /*centering our canvas*/
  width: 950px;
  background-color: #ffd578;
  border-radius: 10px;
  border: 6px solid white;
  margin: 0 auto;
  margin-top: 650px;
  margin-bottom: 20px;
}

.bar {
  fill: #BF4235;
}

.bar:hover {
  fill: #A61203;
}

.axis {
  font: 10px sans-serif;
  color: blue;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
  color: blue;
}

/*POLAROID STYLE*/

/***Because older browsers may not recognise, and therefore not know how to display, HTML5 elements we need add instructions to display them as block elemets***/
figure, figcaption{ /*add any other html5 elements you use*/
display:block;
}

figcaption {
  padding-top: 5px;
}

img {
  width: 100%;
}

@import "bootstrap";
