/*// Place all the styles related to the Actors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

#talkbubble1 {
  width: 320px;
  height: 80px;
  margin-top: 5%;
  margin-left: 40%; 
  padding: 1%;
  font-size: 25px;
  color: white;
  background: #ffb309;
  position: absolute;
  border: 6px solid white;
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

#talkbubble1:before {
  content:"";
  position: absolute;
  right: 100%;
  top: 26px;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-right: 26px solid white;
  border-bottom: 13px solid transparent;
}

 #talkbubble2 {
  width: 350px;
  height: 80px;
  margin-top: 14%;
  margin-left: 20%; 
  padding: 1%;
  font-size: 25px;
  color: white;
  background: #ffb309;
  position: relative;
  border: 6px solid white;
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

#talkbubble2:before {
  content:"";
  position: absolute;
  left: 100%;
  top: 26px;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-left: 26px solid white;
  border-bottom: 13px solid transparent;
}

#triangle_down1 {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid #0b9eb9;
  margin: 0 auto;
  position: relative;
}

#triangle_down2 {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid #ff5847;
  margin: 0 auto;
}

#triangle_down3 {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid #ffb309;
  margin: 0 auto;
  position: relative;
}

.stripe {
  margin-top: -30px;
  padding-top: 7%;
  background-color: #ff5847;
  padding-bottom: 20px;
}

/*.stripe2 {
  background-color: white;
  height: 500px;
}*/

#searchbar {
  right: 45%;
  width: 250px;
  margin: 0 auto;
}

.thumbnail {
  text-align: center;
  float:left;
  width: 300px;
}

.actormain {
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}

#actorbox {
  padding-top: 100px;
}

.actornameshow {
  height: 15%;
/*  width: 670px;*/
  text-align: center;
  padding-top: 120px;
  padding-bottom: 80px;
  color: white;
  font-family: 'Fascinate Inline', cursive;
  margin: 0 auto;
  font-size: 77px;
}

.budget_title {
  color: white;
  font-size: 25px;
  text-align: center;
}

  /*D3*/

.chart { /*centering our canvas*/
  width: 100%;
  background-color: #ffb309;
  margin: 0 auto;
  margin-top: 15%;
}

.bar_btns {
  width: 300px;
  margin: 0 auto;
}

.bar {
  fill: #BF4235;
}

.bar:hover {
  fill: #A61203;
}

.axis {
  font: 10px sans-serif;
  color: blue;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
  color: blue;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: #b2b2b2;
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.pie_chart svg {
  margin: 0 auto;
  background-color: #ff5847;
}

.pie_chart {
  background-color: #ff5847;
  margin-top: -30px;
  margin: 0 auto;
  margin-top: -30px;
  padding-top: 30px;
}
@import "bootstrap";
