/*// Place all the styles related to the Actors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/


#searchbar {
  right: 45%;
  width: 250px;
  margin: 0 auto;
}

/*.actorimage {
   height: 100px; 
   width: 75px;
}*/
.thumbnail {
  text-align: center;
  float:left;
  width: 300px;
}

.actormain {
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}

.actorpic {
  margin: 0 auto;
  height: 150px;
  width: 120px;
}

.actornameshow {
  color: #475f77;
  width: 250px;
  margin: 0 auto;
}

@import "bootstrap";
