/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.quote {
  
  margin: 0 auto;
  color: #0E6DA7;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  word-wrap:break-word;
  padding-top: 20px;
  padding-bottom: 100px;
  font-family: 'Reenie Beanie', cursive;
}

.bio {
  height: 250px;
  text-align: center;
}

        /* LISTS */
.list {
  height: 400px;
  width: 700px;
  margin: 0 auto;

}

.list1 { 
  display: inline-block;
  margin-right: 200px;
}

.list1 ol { 
  font-style:italic; 
  font-family:Georgia, Times, serif; 
  font-size:24px; 
  color:#bfe1f1;  
}

.list1 ol li p { 
  padding:8px; font-style:normal; 
  font-family:Arial; 
  font-size:13px; color: #0E6DA7; 
}

.list1 ol li p em { 
  display:block;
}
.list2 {
  padding-top: 5px;
}
.list2 ol { 
  font-style:italic; 
  font-family:Georgia, Times, serif; 
  font-size:24px; 
  color:#bfe1f1;  
}

.list2 ol li p { 
  padding:8px; font-style:normal; 
  font-family:Arial; 
  font-size:13px; color: #0E6DA7; 
}

.list2 ol li p em { 
  display:block;
}

.wholethang { 
  padding-left: 275px;
  padding-right: 275px;
  background: -webkit-linear-gradient(#d3eef9, #ffffff,#d3eef9);
}

#navbar {
  background-color: #0E6DA7;
  border: none;
}

html body {
/*  background-color: #d8e0ee;*/
}
#searchbar {
  right: 65%;
}

@import "bootstrap";

